.red-round-border {
    border:solid 1px #F78B3E;
    border-radius: 2px;
    padding: 2px;
}

/* form controls sizing */
.small-field-form .select2 {
    padding-right: 1px;        
}

.select2-selection__arrow {
    top: -4px;
}

.small-field-form .form-control {
    height: 26px;
}

.small-field-form .select2-selection {
    height: 26px !important;
    padding: 2px 12px !important;
}

.small-field-form .form-group {
    margin-bottom: 4px;
}

p.form-view-value {
    padding-top: 7px
}

/* *end of form controls sizing */